@import url("https://fonts.googleapis.com/css2?family=Black+Ops+One&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Space+Grotesk:wght@300..700&display=swap");
/* ================================
   RESET CSS
   ================================ */

/* Remove margens e espaçamentos padrões */
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    gap:0;
    padding: 0;
}


/* Configuração base do documento */
html {
    font-size: 16px;
    scroll-behavior: smooth;
}


/* Corpo da página */
body {
    min-height: 100vh;
    line-height: 1.5;
    font-family: Arial, Helvetica, sans-serif;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
}


/* Remove estilos padrões de listas */
ul,
ol {
    list-style: none;
}


/* Remove decoração de links */
a {
    text-decoration: none;
    color: inherit;
}


/* Imagens mais responsivas */
img,
picture,
video,
canvas,
svg {
    max-width: 100%;
    display: block;
}


/* Formulários herdam fonte */
input,
button,
textarea,
select {
    font: inherit;
}


/* Botões sem estilo padrão */
button {
    border: none;
    background: none;
    cursor: pointer;
}


/* Remove bordas padrões de tabelas */
table {
    border-collapse: collapse;
    border-spacing: 0;
}


/* Cabeçalhos sem tamanhos automáticos */
h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: inherit;
    font-weight: inherit;
}


/* Remove estilos de citações */
blockquote,
q {
    quotes: none;
}


blockquote::before,
blockquote::after,
q::before,
q::after {
    content: '';
}


/* Remove animações para usuários que preferem menos movimento */
@media (prefers-reduced-motion: reduce) {

    *,
    *::before,
    *::after {
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.01ms !important;
        scroll-behavior: auto !important;
    }

}